# Ignore node_modules (where project dependencies are typically installed)
node_modules/
frontend/

# Ignore build artifacts and files generated during development/build process
build/
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment-specific files
.env

# Ignore editor/IDE-specific files and directories
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore project-specific files (modify as needed)
/config.json
/secrets.json
